@font-face {
  font-family: "DIN Next Lt";
  src: url("../fonts/DINNextLTPro-Regular.otf");
}
@font-face {
  font-family: "DIN Next Lt Bold";
  src: url("../fonts/DINNextLTPro-Bold.otf");
}
* {
  font-family: "DIN Next Lt", "Open Sans", Roboto;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  background: #FFFFFF;
}
body .bold {
  font-family: "DIN Next Lt Bold";
  text-transform: uppercase;
}
body .primary-color {
  color: #ea6515;
}
body p {
  color: #333333;
}
body .primary-btn {
  background: #FFFFFF;
  border: 2px solid #ea6515;
  border-radius: 30px;
  color: #ea6515;
  font-size: 14px;
  padding: 10px;
  letter-spacing: 0.2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear;
}
@media (min-width: 768px) {
  body .primary-btn {
    font-size: 16px;
    padding: 15px 20px;
  }
}
body .primary-btn span {
  z-index: 2;
  position: relative;
}
body .primary-btn:hover {
  color: #FFFFFF;
  background: #ea6515;
  border: 2px solid transparent;
}
body .description {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
  margin: 0;
  margin-bottom: 30px;
  max-width: 478px;
}
@media (min-width: 768px) {
  body .description {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
  }
}
body h3, body h4 {
  margin: 0;
}
body .wrapper {
  position: relative;
}
body .wrapper.menu-fixed {
  height: 100vh;
  overflow: hidden;
}
body .wrapper .left-section {
  width: 100%;
}
@media (min-width: 992px) {
  body .wrapper .left-section {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}
body .wrapper .left-section-container {
  height: 100%;
  transform: translate3d(0, 0, 0);
  position: relative;
}
body .wrapper .left-section-container .header-wrapper .navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 60px 30px 30px;
  background-color: #FFFFFF;
  z-index: 4;
  transition: background-color 0.2s linear;
}
@media (min-width: 576px) {
  body .wrapper .left-section-container .header-wrapper .navbar {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  body .wrapper .left-section-container .header-wrapper .navbar {
    padding: 60px 74px 20px;
    padding-left: 97px;
    width: 50%;
  }
}
body .wrapper .left-section-container .header-wrapper .menu-wrapper {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  transition: all 0.2s linear;
}
@media (min-width: 768px) {
  body .wrapper .left-section-container .header-wrapper .menu-wrapper {
    z-index: 6;
    height: 70vh;
    top: 15vh;
    left: 30%;
    width: 40%;
  }
}
@media (min-width: 1200px) {
  body .wrapper .left-section-container .header-wrapper .menu-wrapper {
    left: 35%;
    width: 30%;
  }
}
body .wrapper .left-section-container .header-wrapper .menu-wrapper ul {
  max-height: 80%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 40px;
  list-style: none;
  padding: 0;
}
body .wrapper .left-section-container .header-wrapper .menu-wrapper ul li {
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  width: max-content;
  transition: all 0.3s linear;
  opacity: 0.7;
}
body .wrapper .left-section-container .header-wrapper .menu-wrapper ul li a {
  text-decoration: none;
  color: inherit;
}
body .wrapper .left-section-container .header-wrapper .menu-wrapper ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #FFFFFF;
  bottom: -10px;
  left: 0;
  border-radius: 5px;
  transition: all 0.3s linear;
}
@media (min-width: 992px) {
  body .wrapper .left-section-container .header-wrapper .menu-wrapper ul li:hover {
    opacity: 1;
    transform: translateX(10px);
  }
  body .wrapper .left-section-container .header-wrapper .menu-wrapper ul li:hover::after {
    width: 100%;
  }
}
body .wrapper .left-section-container .header-wrapper .hamburger {
  position: relative;
  width: 24px;
  row-gap: 3px;
  display: grid;
  grid-template-rows: repeat(2, 2px);
  cursor: pointer;
}
body .wrapper .left-section-container .header-wrapper .hamburger span {
  height: 2px;
  background: #333333;
  transition: all 0.2s linear;
  width: 100%;
  border-radius: 2px;
}
body .wrapper .left-section-container .header-wrapper .hamburger span:nth-child(1) {
  width: 13px;
}
body .wrapper .left-section-container .header-wrapper .hamburger span:nth-child(3) {
  width: 18px;
}
body .wrapper .left-section-container .header-wrapper .hamburger:hover span {
  width: 100%;
}
body .wrapper .left-section-container .header-wrapper.active .navbar {
  background: none;
}
@media (min-width: 768px) {
  body .wrapper .left-section-container .header-wrapper.active .navbar {
    background: #FFFFFF;
  }
}
body .wrapper .left-section-container .header-wrapper.active .hamburger span {
  background: #FFFFFF;
}
@media (min-width: 768px) {
  body .wrapper .left-section-container .header-wrapper.active .hamburger span {
    background: #333333;
  }
}
body .wrapper .left-section-container .header-wrapper.active .hamburger span:nth-child(1) {
  width: 13px;
  transform: rotate(45deg) translateX(2px);
}
body .wrapper .left-section-container .header-wrapper.active .hamburger span:nth-child(2) {
  transform: rotate(-45deg);
}
body .wrapper .left-section-container .header-wrapper.active .hamburger span:nth-child(3) {
  width: 13px;
  transform: translate(9px, -1px) rotate(45deg);
}
body .wrapper .left-section-container .header-wrapper.active .logo {
  background-color: #FFFFFF;
}
body .wrapper .left-section-container .header-wrapper.active .menu-wrapper {
  opacity: 1;
  pointer-events: auto;
}
body .wrapper .left-section-container .home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
body .wrapper .left-section-container .home-container > div {
  display: none;
}
body .wrapper .left-section-container .home-container > div.active {
  display: flex;
  flex-direction: column;
}
body .wrapper .left-section-container .home-container .hero {
  padding: 70px 30px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  body .wrapper .left-section-container .home-container .hero {
    padding: 120px 60px 30px;
  }
}
body .wrapper .left-section-container .home-container .hero > img {
  margin-bottom: 40px;
  width: 100px;
}
@media (min-width: 992px) {
  body .wrapper .left-section-container .home-container .hero > img {
    width: 170px;
  }
}
body .wrapper .left-section-container .home-container .hero h2 {
  font-size: 32px;
  line-height: 30px;
  color: #333333;
  letter-spacing: -2px;
  margin-bottom: 22px;
  max-width: 250px;
}
@media (min-width: 768px) {
  body .wrapper .left-section-container .home-container .hero h2 {
    font-size: 56px;
    line-height: 50px;
    max-width: 478px;
  }
}
body .wrapper .left-section-container .home-container .hero h2 b {
  color: #ea6515;
}
body .wrapper .left-section-container .home-container .hero button {
  max-width: 175px;
}
body .wrapper .left-section-container .home-container .hero .logo {
  mask: url("../images/icons/manteca-logo.svg") center/contain no-repeat;
  -webkit-mask: url("../images/icons/manteca-logo.svg") center/contain no-repeat;
  width: 120px;
  height: 20px;
  display: inline-block;
  background-color: #333333;
  cursor: pointer;
}
body .wrapper .left-section-container .home-container .menu-resto, body .wrapper .left-section-container .home-container .contact-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 130px;
  padding-bottom: 80px;
  padding-right: 30px;
  padding-left: 30px;
}
@media (min-width: 576px) {
  body .wrapper .left-section-container .home-container .menu-resto, body .wrapper .left-section-container .home-container .contact-wrapper {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  body .wrapper .left-section-container .home-container .menu-resto, body .wrapper .left-section-container .home-container .contact-wrapper {
    padding-left: 97px;
    width: 60%;
  }
}
body .wrapper .left-section-container .home-container .menu-resto h2, body .wrapper .left-section-container .home-container .contact-wrapper h2 {
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
  width: max-content;
}
body .wrapper .left-section-container .home-container .menu-resto h3 {
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
body .wrapper .left-section-container .home-container .menu-resto h3:not(:nth-child(2)) {
  padding-top: 70px;
}
body .wrapper .left-section-container .home-container .menu-resto h3::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333333;
  margin-right: 10px;
  align-self: center;
}
body .wrapper .left-section-container .home-container .contact-container, body .wrapper .left-section-container .home-container .menu-resto-container {
  width: 100%;
  row-gap: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  body .wrapper .left-section-container .home-container .contact-container, body .wrapper .left-section-container .home-container .menu-resto-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
body .wrapper .left-section-container .home-container .contact-container p, body .wrapper .left-section-container .home-container .menu-resto-container p {
  margin: 0;
}
body .wrapper .left-section-container .home-container .contact-container h3, body .wrapper .left-section-container .home-container .menu-resto-container h3 {
  margin-bottom: 10px;
}
body .wrapper .left-section-container .home-container .menu-resto-container {
  padding-top: 30px;
  column-gap: 30px;
  row-gap: 50px;
}
body .wrapper .left-section-container .home-container .menu-resto-container > div {
  position: relative;
}
body .wrapper .left-section-container .home-container .menu-resto-container > div::after {
  font-size: 70px;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
  opacity: 0.05;
  color: #333333;
}
body .wrapper .left-section-container .home-container .menu-resto-container p {
  margin: 0;
  margin-top: 10px;
}
body .wrapper .left-section-container .home-container .menu-resto-container h4 {
  font-family: "DIN Next Lt Bold";
}
body .wrapper .right-section {
  background: #FFFFFF;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
}
body .wrapper .right-section.active {
  opacity: 1;
  display: flex;
  pointer-events: auto;
}
@media (min-width: 992px) {
  body .wrapper .right-section {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
body .wrapper .right-section .photo-container {
  display: flex;
  position: relative;
}
body .wrapper .right-section .photo-container:not(:last-child) {
  margin-bottom: 5px;
}
body .wrapper .right-section .photo-container .galery-photo {
  width: 100%;
  object-position: center;
  object-fit: cover;
  align-self: flex-start;
  height: 60vh;
}

/*# sourceMappingURL=styles.css.map */
